
    .card {
        background: linear-gradient(to bottom, #512fe9, #3e0d3d);
        font-family: 'Covered By Your Grace', cursive;
        border: 8px solid transparent;
  border-image: linear-gradient(to right, #000000, #000000) 1;
  border-image-slice: 1;
  text-shadow: 2px 2px 0 rgba(206, 12, 12, 0.85), -2px -2px 0 rgba(255, 0, 0, 0.2);
  scroll-behavior: smooth;
font-size: 14px;
color: white;
width: 180px;
height: 500px;
box-shadow:  25px 25px 21px #201f1f,
             -25px -25px 21px #111010;;
}

@media (max-width: 767px) { /* ajustar el tamaño según sea necesario */
    .card{
      width:3000px;
      height:500px ;
    }  }


.card:hover{

    transform: translateY(-25px);
    filter: brightness(120%);

}

.card.hidden {
    opacity: 0;
    pointer-events: none;
  }
.close {
    cursor: pointer;
    background-color: #0e0e0d; /* Color de fondo del botón */
    color: rgb(217, 212, 212); /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 50%; /* Da forma circular al botón */
    width: 25px; /* Ancho del botón */
    height: 25px; /* Altura del botón */
    font-size: 10px; /* Tamaño del texto del botón */
margin-left:  150px;
margin-top: 8px;
}

.close:hover {

    transform: scale(1.2);
    cursor: pointer;
}


.img{
    
    border-radius: 20px;
    filter: saturate(50%);
    filter: brightness(1.5) saturate(50%);
     filter: brightness(1);
    width: 180px;
    height: 200px;
    
}

.img:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.ver-personaje {
  font-family: 'Covered By Your Grace', cursive;
background-color: rgb(31, 7, 29);
cursor: pointer;
border: none;
padding: 10px 10px;
font-size: 24px;
font-weight: bold;
position: relative;
border-radius: 4px;
color:white
}
.ver-personaje::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  color:white;
  background:linear-gradient(45deg,red,blue,deeppink,red,
  blue,deeppink,blue);
background-size: 800%;
border-radius: 10px;
filter: blur(8px);
animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0% 0;
  }
}


@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }